
@model VideoAppWeb.ViewModel.MediaListViewModel
@{
    ViewBag.Title = "Index";
}

<script src="~/wwwroot/assets/js/vendor/jquery-3.3.1.min.js"></script>
<div class="breadcrumb mt-4">
    <h1 class="mr-2">Index</h1>

</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header  gradient-black-blue  0-hidden pb-80">
                <div class="form-row pt-4">
                    <h4 class="col-md-4 text-white">Media List</h4>
                    <div class="col-sm-8 text-right">
                        <a href="~/Media/Index"><i class="i-Repeat-3 text-18 font-weight-700 text-white"></i></a>
                        <a class="text-right col-md-8 text-18 " data-toggle="modal" data-target="#FilterModal">
                            <i class="nav-icon i-Magnifi-Glass1 text-white font-weight-700"> </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="ul-contact-list-body">
                    <div class="ul-contact-main-content">
                        <div class="ul-contact-left-side">
                            <div class="card">
                                <div class="card-body">
                                    <div class="ul-contact-list">
                                        <!-- modal  -->
                                        <button type="button" class="btn btn-outline-secondary btn-block mb-4" data-toggle="modal" data-target="#AddMediaModal">
                                            ADD MEDIA
                                        </button>
                                        <!-- end:modal  -->
                                        <div class="list-group" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action border-0 active gradient-black-blue" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                                                <i class="nav-icon i-Business-Mens"></i>
                                                Media List
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form controller="Media" action="Create" method="post">
                            <div class="modal fade" id="AddMediaModal" tabindex="-1" role="dialog" aria-labelledby="AddMediaModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered  modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header gradient-black-blue 0-hidden pb-80 rounded">
                                            <h5 class="modal-title text-white" id="AddMediaModalLabel ">
                                                New Media
                                            </h5>
                                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="ul-contact-list-body">
                                                <div class="Popup-modal-body">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                                    <!--Customer Details -->
                                                                    <div class="row">
                                                                        <div class="col-md-4 text-right">
                                                                            <label class="col-form-label ">Media Url</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.EditorFor(model => model.mediaModel.CloudMediaUrl)
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-1">
                                                                        <div class="col-md-4 text-right">
                                                                            <label class="text-right">Media Title</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.EditorFor(model => model.mediaModel.Title)
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mt-1">
                                                                        <div class="col-md-4 text-right">
                                                                            <label class="text-right">Media Duration</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.EditorFor(model => model.mediaModel.Duration)
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mt-1">
                                                                        <div class="col-md-4 text-right">
                                                                            <label class="text-right">Media Thumbnail</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.EditorFor(model => model.mediaModel.Thumbnail)
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mt-1">
                                                                        <div class="col-md-4 text-right">
                                                                            <label class="text-right">Media FileSizeMb</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.EditorFor(model => model.mediaModel.FileSizeMb)
                                                                        </div>
                                                                    </div>



                                                                    <div class="row mt-1">
                                                                        <div class="col-md-4 text-right">
                                                                            <label class="text-right">Media SearchTags</label>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            @Html.EditorFor(model => model.mediaModel.SearchTags)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary ladda-button basic-ladda-button gradient-black-blue" data-style="expand-left" type="submit"><i class="nav-icon i-Data-Save"></i>Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="ul-contact-content">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content ul-contact-list-table--label" id="nav-tabContent">
                                        <!-- all-contact  -->
                                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                            <div class=" text-left ">
                                                <div class="table-responsive">
                                                    <div id="contact_list_table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="contact_list_table_length"><label>Show <select name="contact_list_table_length" aria-controls="contact_list_table" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                                            <div class="col-sm-12">
                                                                <table id="contact_list_table" class="display table table-borderless ul-contact-list-table dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="contact_list_table_info">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="45%">Title</th>
                                                                            <th width="26%">Thumbnail</th>
                                                                            <th class="sorting_asc_disabled sorting_desc_disabled text-center" width="25%">MediaUrl</th>
                                                                            <th class="sorting_asc_disabled sorting_desc_disabled" width="4%"></th>
                                                                        </tr>
                                                                    </thead>


                                                                    <tbody>
                                                                        @{
                                                                            if (Model.mediaList != null)
                                                                            {
                                                                                //To make unique Id
                                                                                int i = 0;
                                                                                foreach (var item in Model.mediaList)
                                                                                {
                                                                                    <tr>

                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.Title)
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.Thumbnail)
                                                                                        </td>

                                                                                        <td>
                                                                                            @Html.DisplayFor(modelItem => item.CloudMediaUrl)
                                                                                        </td>
                                                                                    </tr>
                                                                                    i++;
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr class="text-center">
                                                                                    <td colspan="8">No data available</td>
                                                                                </tr>
                                                                            }
                                                                        }

                                                                    </tbody>



                                                                </table>
                                                            </div>
                                                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="contact_list_table_info" role="status" aria-live="polite">Showing 1 to 10 of 11 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="contact_list_table_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="contact_list_table_previous"><a href="#" aria-controls="contact_list_table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="contact_list_table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="contact_list_table" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="contact_list_table_next"><a href="#" aria-controls="contact_list_table" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<form action="List" method="post">
    <div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header gradient-black-blue 0-hidden pb-80 rounded">
                    <h5 class="modal-title text-white" id="FilterModalLabel ">
                        Filter / Export
                    </h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ul-contact-list-body">
                        <div class="Popup-modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label asp-for="SearchName">Search Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input asp-for="SearchName" placeholder="Media Name" class="form-control r-0 light s-12 " type="text">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn gradient-black-blue text-white" type="submit">
                        <i class="nav-icon i-Magnifi-Glass1"></i>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/assets/js/vendor/jquery-3.3.1.min.js"></script>
